<div class="container">
    <div class="row">
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="http://via.placeholder.com/200x200">
                </div>
                <div class="card-content">
                    <span class="card-title">Meeraben Patel</span>
                    <ul>
                        <li>
                            Id: 1252
                        </li>
                        <li>
                            UID: 159874684135
                        </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a class='modal-trigger' href="#modal1">Details</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="http://via.placeholder.com/200x200">
                </div>
                <div class="card-content">
                    <span class="card-title">Hiralal Patel</span>
                    <ul>
                        <li>
                            Id: 5687
                        </li>
                        <li>
                            UID: 986573569421
                        </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a class='modal-trigger' href="#modal2">Details</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="http://via.placeholder.com/200x200">
                </div>
                <div class="card-content">
                    <span class="card-title">kanti Shah</span>
                    <ul>
                        <li>
                            Id: 8659
                        </li>
                        <li>
                            UID: 456879521459
                        </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a class='modal-trigger' href="#modal3">Details</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image">
                    <img src="http://via.placeholder.com/200x200">
                </div>
                <div class="card-content">
                    <span class="card-title">Meet Pandya</span>
                    <ul>
                        <li>
                            Id: 7865
                        </li>
                        <li>
                            UID: 756843259102
                        </li>
                    </ul>
                </div>
                <div class="card-action">
                    <a class='modal-trigger' href="#modal4">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 center-align">
                <img src="http://via.placeholder.com/200x200" alt="">
            </div>
            <div class="col s12 ">
                <table class="striped">
                    <tbody class="center-align">
                        <tr>
                            <td class="center-align">Name</td>
                            <td class="center-align">Meeraben Patel</td>
                        </tr>
                        <tr>
                            <td class="center-align">Patient ID</td>
                            <td class="center-align">1253</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Type</td>
                            <td class="center-align">Glucose Level</td>
                        </tr>
                        <tr>
                            <td class="center-align">Sample Numbe</td>
                            <td class="center-align">GL874</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Number</td>
                            <td class="center-align">TEST526</td>
                        </tr>
                        <tr>
                            <td class="center-align">Value</td>
                            <td class="center-align">Normal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 center-align">
                <img src="http://via.placeholder.com/200x200" alt="">
            </div>
            <div class="col s12 ">
                <table class="striped">
                    <tbody class="center-align">
                        <tr>
                            <td class="center-align">Name</td>
                            <td class="center-align">Hiralal Patel</td>
                        </tr>
                        <tr>
                            <td class="center-align">Patient ID</td>
                            <td class="center-align"> 5687</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Type</td>
                            <td class="center-align">ECG</td>
                        </tr>
                        <tr>
                            <td class="center-align">Sample Numbe</td>
                            <td class="center-align">GL875</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Number</td>
                            <td class="center-align">TEST528</td>
                        </tr>
                        <tr>
                            <td class="center-align">Value</td>
                            <td class="center-align">Normal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="modal3" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 center-align">
                <img src="http://via.placeholder.com/200x200" alt="">
            </div>
            <div class="col s12 ">
                <table class="striped">
                    <tbody class="center-align">
                        <tr>
                            <td class="center-align">Name</td>
                            <td class="center-align">Kanti Shah</td>
                        </tr>
                        <tr>
                            <td class="center-align">Patient ID</td>
                            <td class="center-align">8659</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Type</td>
                            <td class="center-align">Blood</td>
                        </tr>
                        <tr>
                            <td class="center-align">Sample Numbe</td>
                            <td class="center-align">GL876</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Number</td>
                            <td class="center-align">TEST528</td>
                        </tr>
                        <tr>
                            <td class="center-align">Value</td>
                            <td class="center-align">O+</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="modal4" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 center-align">
                <img src="http://via.placeholder.com/200x200" alt="">
            </div>
            <div class="col s12 ">
                <table class="striped">
                    <tbody class="center-align">
                        <tr>
                            <td class="center-align">Name</td>
                            <td class="center-align">Meet Pandya</td>
                        </tr>
                        <tr>
                            <td class="center-align">Patient ID</td>
                            <td class="center-align">7865</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Type</td>
                            <td class="center-align">EMG</td>
                        </tr>
                        <tr>
                            <td class="center-align">Sample Numbe</td>
                            <td class="center-align">GL874</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Number</td>
                            <td class="center-align">TEST526</td>
                        </tr>
                        <tr>
                            <td class="center-align">Value</td>
                            <td class="center-align">High</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 center-align">
                <img src="http://via.placeholder.com/200x200" alt="">
            </div>
            <div class="col s12 ">
                <table class="striped">
                    <tbody class="center-align">
                        <tr>
                            <td class="center-align">Name</td>
                            <td class="center-align">Meeraben Patel</td>
                        </tr>
                        <tr>
                            <td class="center-align">Patient ID</td>
                            <td class="center-align">1253</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Type</td>
                            <td class="center-align">Glucose Level</td>
                        </tr>
                        <tr>
                            <td class="center-align">Sample Numbe</td>
                            <td class="center-align">GL874</td>
                        </tr>
                        <tr>
                            <td class="center-align">Test Number</td>
                            <td class="center-align">TEST526</td>
                        </tr>
                        <tr>
                            <td class="center-align">Value</td>
                            <td class="center-align">Normal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>